{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div ng-controller="tournamentContrl">
	<br><br>


<md-whiteframe class="md-whiteframe-4dp" ng-if="hideTournament" layout="column" flex layout-margin>
   		<div layout="column" >
   		<md-list>
   			<md-list-item layout="row" layout-wrap>
   				<p flex class="md-title">Name</p>
   				<p flex class="md-title"> Played</p>
   				<p flex class="md-title"> Won</p>
   				<p flex class="md-title"> Draw</p>
   				<p flex class="md-title"> Lost</p>
   				<p flex class="md-title"> Points</p>
   				<p flex class="md-title"> Goals</p>
   			</md-list-item>
			<md-list-item layout="row" layout-wrap ng-repeat="Match in Matchlist" >
				<p flex ng-bind="Match.name"></p>
				<p flex ng-bind="Match.played"></p>
				<p flex ng-bind="Match.won"></p>
				<p flex ng-bind="Match.draw"></p>
				<p flex ng-bind="Match.lost"></p>
				<p flex ng-bind="Match.points"></p>
				<p flex ng-bind="Match.goals"></p>
			</md-list-item>
		</md-list>
   		</div>
   	</md-whiteframe>
</div>

{% for tournament in tournaments %}

{{tournament.tournament_name}}

{% endfor %}

{% endblock %}