<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="FifaApp" ng-cloak>
   <md-toolbar class=" md-primary">
      <h2 class="md-toolbar-tools"><span >FIFA Tournament League</span></h2>
    </md-toolbar>
    <div ng-include="'templates/tournament.html'"></div>
    <md-toolbar class=" md-primary" style="background-color: black;color:white;position: fixed;left: 0; bottom: 0;width: 100%; overflow:hidden;">
      <h2 class="md-toolbar-tools" layout-align="end end">Copyrights by --&copy;Pranith Macha</h2>
    </md-toolbar>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script><script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="../staticfiles/js/app.js"></script>
  <script type="text/javascript" src="../staticfiles/js/tournament.js"></script>
  
</body>
</html>