<form name="regForm" layout="column" novalidate>
	<div layout="row" layout-align="center center">	
	<md-whiteframe class="md-whiteframe-4dp" flex-gt-sm="45" layout="column" layout-padding layout-margin>
		<md-toolbar layout="row" class="md-hue-3 md-accent">
			<div class="md-display-2 md-toolbar-tools"  layout="row"  layout-align="center center"><i class="material-icons">create</i>Register</div>
		</md-toolbar>
		<br>
	    <md-input-container>
	    <label>USERNAME</label>
	    <input type="text" name="username" required data-ng-model="formData.username" minlength="8">
	    <div ng-messages="regForm.username.$error">
	         <div ng-message="required" >this is required.</div>
	    </div>
	    </md-input-container>
	    <md-input-container>
	    <label>EMAIL</label>
	    <input type="text" name="email" required data-ng-model="formData.email" minlength="8">
	    <div ng-messages="regForm.email.$error">
	         <div ng-message="required" >this is required.</div>
	    </div>
	    </md-input-container>
	    <md-input-container>
	    <label>PASSWORD</label>
	    <input type="password" name="password" required data-ng-model="formData.password" minlength="8">
	    <div ng-messages="regForm.password.$error">
	         <div ng-message="required" >this is required.</div>
	    </div>
	    </md-input-container>
	    <md-input-container  >
	    <label>CONFIRM PASSWORD</label>
	    <input type="password" name="confirmpassword" required data-ng-model="formData.confirmpassword" minlength="8">
	    <div ng-messages="regForm.confirmpassword.$error">
	         <div ng-message="required" >this is required.</div>
	    </div>
	    </md-input-container>
	    <div layout="column" layout-align="center center">
	    <md-button class="md-raised md-primary">Register</md-button>
	    </div>
	 </md-whiteframe>
	 </div>
</form>