{% extends "base.html" %}

{% block content %}
<md-content layout="column" style="height:500px;" ng-cloak ng-controller="tournamentContrl">
	<md-whiteframe class="md-whiteframe-4dp"  layout="column" flex layout-margin>
    <form name="MatchForm" no-validate method="post" action="/create_tournament">
        {% csrf_token %}
		<p class="md-display-2" layout="column" layout-align="center center">League</p>
		<div layout="row" layout-margin>
		<md-input-container flex>
	       <md-select ng-model="Match" placeholder="Select" name="tournament_type" layout="column" layout-align="center center">
	    	<md-option  ng-value="League">League</md-option>
			<md-option ng-value="Group">Group</md-option>
			<md-option  ng-value="Tournament">Tournament</md-option>
			</md-select>
		</md-input-container>
		<md-input-container flex>
	         <label>League Name</label>
	         <input required name="tournament_name" ng-model="Match.leagueName">
	         <div ng-messages="MatchForm.leagueName.$error">
	           <div ng-message="required">This is required.</div>
	         </div>
	       </md-input-container>
		<md-input-container flex>
         	<label>Number of Players</label>
        		<input required name="NumPlayers" ng-model="Match.NumPlayers">
	         <div ng-messages="MatchForm.NumPlayers.$error">
	           <div ng-message="required">This is required.</div>
	         </div>
	       </md-input-container>
        <md-input-container flex>
         	<label>Number of Games</label>
        		<input required name="number_of_games" ng-model="Match.NumGames">
	         <div ng-messages="MatchForm.NumGames.$error">
	           <div ng-message="required">This is required.</div>
	         </div>
	       </md-input-container>
	    </div>
        <div layout="row" layout-margin  ng-if="Match.NumPlayers" ng-repeat="i in range.slice(0,Match.NumPlayers) track by $index" >
            <span>Please fill out the player <span ng-bind="$index+1"></span> details</span>
            <md-input-container flex="50">
	         <label>Player Name</label>
	         <input required name="player_name" ng-model="Match.playerName[$index]">
	         <div ng-messages="MatchForm.leagueName.$error">
	           <div ng-message="required">This is required.</div>
	         </div>
	       </md-input-container>
        </div>
	    <div layout="row" layout-align="center center">
	    	<!--<md-button ng-click="playMatch()" class="md-raised md-primary">Play</md-button>-->
			<input type="submit" value="create" class="md-raised md-primary">
	    </div>
   	</form>
</md-whiteframe>
</md-content>
{% endblock %}